.app-zhuchao-service-icon
{
    background: url(image-path('App/ZhuChao/Service/Icon', 'png')) no-repeat;
}
.app-zhuchao-service-widget-entry-icon
{
    background: url(image-path('App/ZhuChao/Service/Icon', 'png')) no-repeat;
}
.app-zhuchao-service-widget-feedback-icon
{
    background: url(image-path('App/ZhuChao/Service/Widget/Feedback', 'png')) no-repeat;
}
