.app-zhuchao-messagemgr-icon
{
  background: url(image-path('App/ZhuChao/MessageMgr/Icon', 'png')) no-repeat;
}
.app-zhuchao-messagemgr-widget-entry-icon
{
  background: url(image-path('App/ZhuChao/MessageMgr/Icon', 'png')) no-repeat;
}
.app-zhuchao-messagemgr-widget-offer-icon
{
  background: url(image-path('App/ZhuChao/MessageMgr/Widget/Offer', 'png')) no-repeat;
}