.idea/
Data/Cache/
Data/UploadFiles/
Modules/Pages/Controllers/TestController.php
Data/LoginSeq/
Data/Platform/LoginSeq/
Data/Tmp/
PlatformJs/build/
PlatformJs/ext/
PlatformJs/packages/cntysoft-core/build/
PlatformJs/packages/cntysoft-comp/build/
PlatformJs/packages/cntysoft-webos/build/
PlatformJs/sencha-ext/build
PlatformJs/ZhuChao/bootstrap.json
PlatformJs/ZhuChao/bootstrap.js
PlatformJs/ZhuChao/.sencha/app/gzyself.properties
PlatformJs/ZhuChao/sass/example/bootstrap.json
Temp/
nbproject/