.img_uploading {
  height: auto;
  width: 700px; }

.form_list > label {
  float: left;
  padding-right: 10px;
  width: 112px; }

.form_list > input {
  width: 600px; }

.action_btn {
  padding-left: 122px; }

.img_wrap_div {
  width: 180px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px; }

.img_wrap_div input {
  margin-top: 10px;
  padding-left: 3px;
  width: 180px; }

.show_img {
  position: relative;
  width: 180px;
  height: 120px; }

.show_img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%; }

.deleteImg {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#uploadBtn {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 20px; }

.img_uploading div, .msg_wrap {
  position: relative; }

.img_wrap_div:hover em {
  display: block; }

.img_wrap_div em {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #63bf82;
  cursor: pointer; }

.select_brand select {
  border-color: #ccc !important;
  background-color: #fdfdfd; }

.select_brand select, .select_group select, .select_unit select {
  width: 230px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }
