@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.content_wrap {
  background-color: #fff; }

.items_title a {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  -moz-transition: opacity 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: opacity 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  .items_title a:hover {
    filter: alpha(opacity=85);
    /* IE */
    -moz-opacity: 0.85;
    /* 老版Mozilla */
    -khtml-opacity: 0.85;
    /* 老版Safari */
    opacity: 0.85;
    /* 支持opacity的浏览器*/ }

.notice {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin: 20px 0 30px; }
  .notice i {
    font-size: 14px;
    color: #fff;
    margin-right: 10px; }

.search_type {
  margin-top: 30px;
  border-bottom: 1px solid #e4e4e4; }
  .search_type a {
    display: inline-block;
    padding: 9px 25px;
    background-color: #ccc;
    font-size: 12px;
    line-height: 12px;
    color: #666;
    -moz-transition: opacity 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: opacity 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
    .search_type a:hover {
      filter: alpha(opacity=85);
      /* IE */
      -moz-opacity: 0.85;
      /* 老版Mozilla */
      -khtml-opacity: 0.85;
      /* 老版Safari */
      opacity: 0.85;
      /* 支持opacity的浏览器*/ }

.search_btn {
  margin: 20px 0 30px;
  height: 30px;
  line-height: 30px; }
  .search_btn .input_text {
    position: relative;
    width: 220px; }
    .search_btn .input_text input {
      width: 220px;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      border: 1px solid #e4e4e4; }
    .search_btn .input_text i {
      position: absolute;
      top: 7px;
      right: 7px;
      font-size: 18px;
      color: #666;
      cursor: pointer; }
  .search_btn .input_btn {
    font-size: 12px;
    line-height: 12px;
    padding: 9px 20px;
    margin: 0 20px;
    -moz-transition: opacity 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: opacity 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
    .search_btn .input_btn:hover {
      filter: alpha(opacity=85);
      /* IE */
      -moz-opacity: 0.85;
      /* 老版Mozilla */
      -khtml-opacity: 0.85;
      /* 老版Safari */
      opacity: 0.85;
      /* 支持opacity的浏览器*/ }

.searched_wrap {
  border: 1px solid #e6e6e6;
  padding: 5px 20px;
  height: 250px;
  overflow-y: scroll; }
  .searched_wrap ul > li {
    height: 30px;
    line-height: 30px;
    color: #666; }
    .searched_wrap ul > li .icon-shanchu {
      float: right;
      margin-right: 40px;
      line-height: 30px;
      font-size: 20px;
      color: #999;
      cursor: pointer; }
    .searched_wrap ul > li label {
      cursor: pointer; }
    .searched_wrap ul > li input {
      vertical-align: middle;
      margin-right: 8px; }
    .searched_wrap ul > li em {
      font-size: 14px;
      color: #666; }
    .searched_wrap ul > li b {
      padding: 0 3px;
      font-size: 13px;
      color: #666; }

.select_list {
  float: left;
  margin-right: 20px; }
  .select_list span {
    display: inline-block;
    width: 218px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e4e4e4;
    padding-left: 20px;
    font-size: 14px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .select_list ul {
    width: 218px;
    height: 260px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: auto; }
    .select_list ul li {
      padding-left: 20px;
      line-height: 24px;
      font-size: 12px;
      color: #333;
      cursor: pointer; }
      .select_list ul li:hover {
        color: #2e9bd7; }
    .select_list ul .current {
      color: #2e9bd7; }

.selected_tips {
  padding-left: 14px;
  border: 1px solid #f9e1df;
  background-color: #fff3f2;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 30px; }
  .selected_tips p {
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
    .selected_tips p em {
      font-size: 14px;
      color: #e64b47;
      font-weight: 500; }
    .selected_tips p b {
      padding: 0 3px;
      font-size: 13px;
      color: #666; }

.next_step {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 30px 0 40px; }
  .next_step a {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 40px;
    -moz-transition: opacity 0.2s ease;
    /* Firefox 4 */
    -webkit-transition: opacity 0.2s ease;
    /* Safari 和 Chrome */
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
    .next_step a:hover {
      filter: alpha(opacity=85);
      /* IE */
      -moz-opacity: 0.85;
      /* 老版Mozilla */
      -khtml-opacity: 0.85;
      /* 老版Safari */
      opacity: 0.85;
      /* 支持opacity的浏览器*/ }
