@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }
.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/**
 * 文本对齐方式，左中右两端
 */
.tl {
  text-align: left !important; }

.tc {
  text-align: center !important; }

.tr {
  text-align: right !important; }

/**
 * 文本强制不换行
 */
.text_nowrap {
  white-space: nowrap;
  word-wrap: normal; }

/**
 * 文本强制换行
 */
.text_break {
  white-space: normal;
  word-wrap: break-word; }

/**
 * 文字溢出显示省略号
 * 1. Opera 9-10.6
 * 2. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
 */
.text_ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* 1 */
  text-overflow: ellipsis;
  text-align: left;
  /* 2 */ }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide {
  display: none; }

.conwidth {
  width: 1300px;
  margin: 0 auto; }

.no_before:before {
  display: none !important; }

.no_after:after {
  display: none !important; }

.no_mt {
  margin-top: 0 !important; }

.no_mr {
  margin-right: 0 !important; }

.no_mb {
  margin-bottom: 0 !important; }

.no_ml {
  margin-left: 0 !important; }

.no_bt {
  border-top: 0 !important; }

.no_br {
  border-right: 0 !important; }

.no_bb {
  border-bottom: 0 !important; }

.no_bl {
  border-left: 0 !important; }

.no_all_b {
  border: 0 !important; }

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; }

html {
  width: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1300px;
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  color: #666;
  -webkit-overflow-scrolling: touch;
  font: 12px/1.5 "Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif; }

a {
  color: #666; }

* {
  word-break: break-all; }

pre, html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, table, th, td, form, img, div {
  margin: 0;
  padding: 0;
  word-break: break-all; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.fontsong {
  font-size: 12px;
  font-family: "SimSun",serif; }

img, a, input, button {
  border: none;
  outline: none;
  background: none; }

a {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  cursor: hand; }

em, i, b {
  font-style: normal; }

ul, ol {
  list-style: none; }

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rili:before {
  content: "\e603"; }

.icon-xinfeng:before {
  content: "\e643"; }

.icon-shanchu:before {
  content: "\e64a"; }

.icon-sousuo:before {
  content: "\e622"; }

.icon-jiaoyu:before {
  content: "\e649"; }

.icon-dianhua1:before {
  content: "\e63c"; }

.icon-tubiao:before {
  content: "\e64b"; }

.icon-101:before {
  content: "\e63d"; }

.icon-dianhua2:before {
  content: "\e64c"; }

.icon-guandaoshutongweixiushuiguanzhuguandao:before {
  content: "\e66f"; }

.icon-quanbu:before {
  content: "\e639"; }

.icon-anquanfanghu:before {
  content: "\e610"; }

.icon-diangongdianqi:before {
  content: "\e609"; }

.icon-chanpinzhongxin:before {
  content: "\e669"; }

.icon-more:before {
  content: "\e651"; }

.icon-dingzhijiaju:before {
  content: "\e670"; }

.icon-fenxiang:before {
  content: "\e641"; }

.icon-shoucang:before {
  content: "\e659"; }

.icon-feature:before {
  content: "\e632"; }

.icon-jikediancanicon03:before {
  content: "\e65b"; }

.icon-shangou:before {
  content: "\e633"; }

.icon-guanyuwomen:before {
  content: "\e634"; }

.icon-xunjiadan:before {
  content: "\e66a"; }

.icon-gerenzhanghu:before {
  content: "\e66b"; }

.icon-iconfontxunjia:before {
  content: "\e65c"; }

.icon-quanbu1:before {
  content: "\e65d"; }

.icon-weixin:before {
  content: "\e668"; }

.icon-newcuo:before {
  content: "\e657"; }

.icon-jiancaizhuangxiu:before {
  content: "\e60a"; }

.icon-cuo:before {
  content: "\e631"; }

.icon-zhanghao:before {
  content: "\e626"; }

.icon-fenxiang1:before {
  content: "\e65e"; }

.icon-caigoujinhuo:before {
  content: "\e635"; }

.icon-tianjia:before {
  content: "\e65f"; }

.icon-gongyingshang:before {
  content: "\e660"; }

.icon-caigoushangpin:before {
  content: "\e66c"; }

.icon-filec:before {
  content: "\e604"; }

.icon-iconketing:before {
  content: "\e671"; }

.icon-shouji:before {
  content: "\e655"; }

.icon-bangzhu:before {
  content: "\e661"; }

.icon-wenjianjia24px:before {
  content: "\e662"; }

.icon-product:before {
  content: "\e627"; }

.icon-fenlei:before {
  content: "\e620"; }

.icon-flight:before {
  content: "\e663"; }

.icon-gongyingshang1:before {
  content: "\e664"; }

.icon-biaozhunjianmro:before {
  content: "\e611"; }

.icon-dengjuzhaoming:before {
  content: "\e612"; }

.icon-dianziyuanqijian:before {
  content: "\e613"; }

.icon-renzheng:before {
  content: "\e644"; }

.icon-dianpushezhi:before {
  content: "\e66d"; }

.icon-youxiang:before {
  content: "\e63f"; }

.icon-shangpu:before {
  content: "\e645"; }

.icon-wujingongju:before {
  content: "\e614"; }

.icon-notice:before {
  content: "\e629"; }

.icon-kefu:before {
  content: "\e665"; }

.icon-shui:before {
  content: "\e646"; }

.icon-yijian:before {
  content: "\e60b"; }

.icon-xunjia:before {
  content: "\e628"; }

.icon-zhizhao:before {
  content: "\e647"; }

.icon-1:before {
  content: "\e636"; }

.icon-jzyn7:before {
  content: "\e666"; }

.icon-iconfontzuobiao:before {
  content: "\e63e"; }

.icon-dizhi:before {
  content: "\e64d"; }

.icon-jiantou1:before {
  content: "\e618"; }

.icon-jiantou2:before {
  content: "\e619"; }

.icon-jiantou3:before {
  content: "\e61a"; }

.icon-jiantou4:before {
  content: "\e61b"; }

.icon-rank-down:before {
  content: "\e623"; }

.icon-rank-up:before {
  content: "\e624"; }

.icon-checked:before {
  content: "\e625"; }

.icon-duihaoyuanquan:before {
  content: "\e640"; }

.icon-shouji1:before {
  content: "\e64e"; }

.icon-star:before {
  content: "\e642"; }

.icon-rentou3:before {
  content: "\e64f"; }

.icon-cailiao:before {
  content: "\e672"; }

.icon-duihao1:before {
  content: "\e650"; }

.icon-biaoqian:before {
  content: "\e621"; }

.icon-yan:before {
  content: "\e648"; }

.icon-error:before {
  content: "\e62a"; }

.icon-bianji:before {
  content: "\e61f"; }

.icon-jiantou-copy-copy-copy:before {
  content: "\e60c"; }

.icon-kefu1:before {
  content: "\e652"; }

.icon-empty-star:before {
  content: "\e653"; }

.icon-msg1:before {
  content: "\e607"; }

.icon-coupon:before {
  content: "\e608"; }

.icon-zhanghu:before {
  content: "\e637"; }

.icon-svgordermessage:before {
  content: "\e605"; }

.icon-svgupdate:before {
  content: "\e606"; }

.icon-jiafang:before {
  content: "\e673"; }

.icon-jiantou-copy:before {
  content: "\e617"; }

.icon-fenxiang1:before {
  content: "\e62f"; }

.icon-black-down:before {
  content: "\e60d"; }

.icon-iconfontsvgnext:before {
  content: "\e60e"; }

.icon-iconfontsvgprevious:before {
  content: "\e60f"; }

.icon-caozuochenggong:before {
  content: "\e602"; }

.icon-jiantou6:before {
  content: "\e61c"; }

.icon-jiantou7:before {
  content: "\e61d"; }

.icon-xiangxiajiantou:before {
  content: "\e61e"; }

.icon-yejinkuangchan-copy:before {
  content: "\e615"; }

.icon-bringtodowner:before {
  content: "\e600"; }

.icon-bringtoupper:before {
  content: "\e601"; }

.icon-webiccaigouxuqiuhover:before {
  content: "\e638"; }

.icon-dashboard24:before {
  content: "\e616"; }

.icon-smallcuo:before {
  content: "\e658"; }

.icon-erweima:before {
  content: "\e62b"; }

.icon-dianhua:before {
  content: "\e62c"; }

.icon-weixin1:before {
  content: "\e62d"; }

.icon-qq:before {
  content: "\e62e"; }

.icon-shoucang1:before {
  content: "\e630"; }

.icon-black-right:before {
  content: "\e63a"; }

.icon-black-up:before {
  content: "\e63b"; }

.icon-caigouguanli:before {
  content: "\e66e"; }

.icon-yishixiao:before {
  content: "\e654"; }

.icon-suo:before {
  content: "\e656"; }

.icon-xinwen:before {
  content: "\e667"; }

.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.add_color {
  color: #2e93d7; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }
.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

body .layui-layer-setwin {
  position: absolute;
  right: 15px;
  top: 10px;
  line-height: initial; }
  body .layui-layer-setwin a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    cursor: pointer;
    background: none; }
    body .layui-layer-setwin a:before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      vertical-align: 2px;
      background: url("../../Images/layer/icon_off_757575.png?_nosprite") no-repeat; }
  body .layui-layer-setwin a:hover {
    filter: alpha(opacity=80);
    /* IE */
    -moz-opacity: 0.8;
    /* 老版Mozilla */
    -khtml-opacity: 0.8;
    /* 老版Safari */
    opacity: 0.8;
    /* 支持opacity的浏览器*/ }

body .layui-layer-btn {
  padding-top: 0 !important;
  padding-bottom: 15px; }
  body .layui-layer-btn a {
    line-height: 28px;
    height: 28px;
    border-radius: 0;
    display: inline-block;
    background-color: #fff;
    color: #666;
    text-align: center;
    border: 1px solid #b0b0b0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    body .layui-layer-btn a:hover {
      filter: alpha(opacity=80);
      /* IE */
      -moz-opacity: 0.8;
      /* 老版Mozilla */
      -khtml-opacity: 0.8;
      /* 老版Safari */
      opacity: 0.8;
      /* 支持opacity的浏览器*/ }
  body .layui-layer-btn .layui-layer-btn0 {
    border-color: #093;
    background-color: #093;
    color: #fff; }
    body .layui-layer-btn .layui-layer-btn0:hover {
      color: #fff;
      background-color: #008f30; }

.header_top {
  position: relative;
  height: 30px;
  line-height: 30px;
  background-color: #f8f8f8;
  color: #777;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
  .header_top .login_btn {
    margin: 0 30px; }
  .header_top .login_btn, .header_top .exit_btn, .header_top .register_btn {
    margin-right: 20px;
    color: #777; }
  .header_top .header_top_nav li {
    float: left;
    position: relative;
    z-index: 99; }
    .header_top .header_top_nav li > a {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      color: #777; }
      .header_top .header_top_nav li > a i {
        font-size: 15px;
        vertical-align: -2px;
        transition: transform .1s ease-in 0s;
        -webkit-transition: -webkit-transform .1s ease-in 0s; }
    .header_top .header_top_nav li .down_list {
      display: none;
      position: absolute;
      top: 30px;
      left: 0;
      width: 80px;
      padding: 10px;
      background-color: #fff;
      -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
      -moz-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
      box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3); }
      .header_top .header_top_nav li .down_list a {
        display: block;
        color: #777;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .header_top .header_top_nav li:hover i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .header_top .header_top_nav li:hover .down_link {
      background-color: #fff;
      -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
      -moz-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
      box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3); }
    .header_top .header_top_nav li:hover .down_list {
      display: block; }
    .header_top .header_top_nav li:hover .pull_more {
      display: block; }
  .header_top .header_top_nav .line {
    padding: 0;
    margin-top: 10px;
    width: 1px;
    height: 10px;
    background-color: #ccc; }
  .header_top .header_top_nav .more_btn {
    width: 95px;
    text-align: center; }
    .header_top .header_top_nav .more_btn:hover {
      background: #fff !important; }
      .header_top .header_top_nav .more_btn:hover a {
        color: #666 !important; }

.more_btn .pull_more {
  display: none;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 0;
  padding-top: 10px;
  width: 190px;
  color: #666666 !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 5px rgba(100, 100, 100, 0.3); }
  .more_btn .pull_more .erweima {
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto; }
  .more_btn .pull_more span {
    display: inline-block;
    text-align: center;
    margin: 5px 10px 0;
    line-height: 1.6; }

.login_footer {
  width: 1300px;
  margin: 50px auto 0; }

.copy_nav {
  width: 500px\9;
  margin: 0  auto\9;
  text-align: center;
  padding-bottom: 10px; }
  .copy_nav li {
    height: 14px;
    display: inline-block;
    float: left\9;
    font-size: 0;
    margin-left: -2px; }
    .copy_nav li a {
      float: left;
      margin:0 10px;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      color: #666; }
    .copy_nav li span {
      width: 1px;
      height: 12px;
      margin-top: 2px;
      background: #ddd;
      float: left;
      overflow: hidden; }

.copyright, .copy_icp {
  text-align: center;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #999; }

.copy_icp {
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #999; }

.l_btn {
  background-color: #093 !important;
  color: #fff !important;
  display: inline-block;
  width: 130px;
  text-align: center;
  line-height: 40px;
  font-size: 14px; }

.head_wrap {
  height: 60px;
  line-height: 60px; }

.head_box .logo_img {
  display: block;
  width: 260px;
  height: 60px;
  line-height: 60px;
  margin-top: 10px; }
  .head_box .logo_img img {
    display: inline-block;
    max-width: 163px;
    height: 40px;
    float: left; }
  .head_box .logo_img span {
    float: left;
    font-size: 18px;
    color: #fff;
    line-height: 40px; }
    .head_box .logo_img span em {
      margin: 0 10px; }

.head_box ul li {
  float: left;
  height: 60px;
  line-height: 60px;
  margin-right: 1px; }
  .head_box ul li a {
    display: inline-block;
    padding: 0 35px;
    font-size: 18px;
    color: #fff; }

.content {
  margin-top: 20px; }

.items_wrap {
  width: 210px;
  min-height: 700px;
  padding: 10px;
  background-color: #fff; }
  .items_wrap dt {
    margin-left: 20px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333; }
    .items_wrap dt i {
      margin: 0 8px;
      font-size: 20px; }
  .items_wrap dd {
    margin: 5px 0; }
    .items_wrap dd a {
      display: inline-block;
      width: 154px;
      height: 30px;
      line-height: 30px;
      padding-left: 56px;
      font-size: 12px;
      color: #888; }

.content_wrap {
  width: 1010px;
  min-height: 720px;
  padding: 0 20px;
  background-color: #fff; }
  .content_wrap .items_title {
    font-size: 18px;
    color: #333;
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #e4e4e4; }

span.circle_radio {
  font-size: 16px;
  color: #333;
  margin-right: 40px;
  cursor: pointer; }
  span.circle_radio em {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    vertical-align: -2px;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    span.circle_radio em:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: transparent;
      vertical-align: 4px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  span.circle_radio .active:before {
    background-color: #b0b0b0; }

/*
   <span class="circle_radio"><em><i></i></em>男</span>
    <span class="circle_radio"><em><i></i></em>女</span>
 */
span.square_radio em {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #b0b0b0;
  margin-right: 12px;
  vertical-align: -2px; }
span.square_radio .icon-checked {
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 14px;
  color: #b0b0b0; }

/*
<span class="square_radio"><em><i></i></em>商城基本</span>
<span class="square_radio"><em ><i class="icon-checked"></i></em>商城基本</span>*/
.msg_wrap {
  position: relative; }

.drop_menu label {
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 16px;
  color: #333;
  letter-spacing: 2px; }
  .drop_menu label em {
    vertical-align: middle; }
.drop_menu select {
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #333;
  border: 1px solid #ccc;
  outline: none; }
  .drop_menu select option {
    outline: none;
    height: 24px;
    line-height: 24px; }

.choice input {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  color: #999;
  background-color: #e4e4e4; }

select {
  padding-left: 7px;
  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

input[type='text'],
input[type='password'] {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-family: '\5fae\8f6f\96c5\9ed1'; }

textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea:focus,
input[type='text']:focus,
input[type='password']:focus {
  border-color: rgba(0, 153, 51, 0.3);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(0, 153, 51, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(0, 153, 51, 0.6); }

.input_radio {
  display: inline-block;
  border: 0 !important; }

div.radio {
  *display: inline !important;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 7px;
  /* IE 8 */ }
  div.radio > label {
    cursor: pointer;
    color: #666;
    font-size: 16px; }
    div.radio > label input {
      position: absolute;
      margin-left: -20px;
      margin-left: -5px\9;
      margin-top: 7px\0;
      opacity: 0;
      width: auto !important;
      border: none;
      outline: none;
      background: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  div.radio i {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    width: 16px\9\0;
    height: 16px\9\0;
    *width: 0;
    *height: 0;
    border-radius: 16px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: 3px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 0\0;
    *border: 0;
    border: 1px solid #e4e4e4; }
    div.radio i:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      content: "";
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  @media \0screen {
    div.radio i {
      width: 0;
      height: 0; } }
  div.radio input:checked + i {
    border-color: #093; }
  div.radio input:checked + i:before {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #093; }

div.sex.margin-left {
  margin-left: 16px; }

.select_box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }
  .select_box .drop_menu {
    width: 133px;
    padding-left: 7px;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .select_box .drop_menu .drop_list li:hover {
    color: #093; }

.notice {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-top: 20px; }
  .notice a {
    color: #fff; }
  .notice i {
    font-size: 14px;
    color: #fff;
    margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
