@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.msg_tip {
  position: absolute;
  top: 30px;
  left: -115px;
  width: 170px;
  height: 65px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px #eee;
  -moz-box-shadow: 0px 0px 30px #eee;
  box-shadow: 0px 0px 30px #eee;
  z-index: 9999; }

.msg_tip_detail {
  text-align: center;
  line-height: 30px;
  color: #666 !important; }

.del_msg, .cancel_del {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4; }

.cancel_del {
  float: right;
  margin: 10px 0 10px 0; }

.msg_tip_arrow {
  position: absolute;
  top: -10px;
  left: 110px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px;
  cursor: pointer;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #fff transparent;
  border-top: none;
  -webkit-box-shadow: 0px -10px 30px #eee;
  -moz-box-shadow: 0px -10px 30px #eee;
  box-shadow: 0px -10px 30px #eee; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3); }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -moz-transform: scale(0.3);
         transform: scale(0.3); }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
         transform: scale(1.05); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
         transform: scale(1); } }

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
       transform: scale(0.3); }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
       transform: scale(1.05); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
       transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -moz-transform: scale(0.3);
      -o-transform: scale(0.3);
         transform: scale(0.3); }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
         transform: scale(1.05); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
      -o-transform: scale(1);
         transform: scale(1); } }

.bounceIn {
  -webkit-animation: bounceIn 0.5s;
  -o-animation: bounceIn 0.5s;
  -moz-animation: bounceIn 0.5s;
       animation: bounceIn 0.5s; }

/*
<div class="msg_tip hide bounceIn">
<p class="msg_tip_detail">你确定要删除该信息吗？</p>
<p class="clearfix">
<span class="del_msg main_bg">确认</span>
<span class="cancel_del main_hover">取消</span>
</p>
<span class="msg_tip_arrow"></span>
</div>
*/
.drop_menu {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e4e4e4;
  position: relative;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .drop_menu .drop_show {
    padding-right: 30px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden; }
  .drop_menu .active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .drop_menu .drop_arrow, .drop_menu .drop_arrow:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-top-color: #ccc;
    webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    -o-transform-origin: 50% 20%;
       transform-origin: 50% 20%; }
  .drop_menu .drop_arrow:after {
    margin-top: -10px;
    right: -8px;
    border-top-color: #fff; }
  .drop_menu .drop_list {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 9999;
    width: inherit;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4; }
    .drop_menu .drop_list li {
      padding-left: 2px;
      height: inherit;
      line-height: inherit;
      text-align: center;
      border: 1px solid #e4e4e4;
      border-bottom: 0;
      word-break: break-all;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

/*
<div class="drop_menu ">
<div class="drop_show">省份</div>
<div class="drop_arrow"></div>
<ul class="drop_list">
<li>河南省</li>
<li>安徽安徽安徽安徽省</li>
<li>山东省</li>
<li>江西省</li>
<li>广西省</li>
<li>广东省</li>
<li>福建省</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
</ul>
</div>
<div class="drop_menu ">
<div class="drop_show">城市</div>
<div class="drop_arrow"></div>
<ul class="drop_list">
<li>郑州市</li>
<li>开封市</li>
<li>安阳市</li>
<li>安阳市</li>
<li>安阳市</li>
<li>广东省</li>
<li>福建省</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
</ul>
</div>
<div class="drop_menu">
<div class="drop_show">地区</div>
<div class="drop_arrow"></div>
<ul class="drop_list">
<li>金水区</li>
<li>管城区</li>
<li>二七区</li>
<li>高新区</li>
<li>惠济区</li>
<li>广东省</li>
<li>福建省</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
<li>上海市</li>
</ul>
</div>*/
input[type='text'],
input[type='password'] {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  font-family: '\5fae\8f6f\96c5\9ed1'; }

.msg_wrap {
  position: relative; }

.select_box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0; }
  .select_box .drop_menu {
    width: 133px;
    padding-left: 7px;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .select_box .drop_menu .drop_list li:hover {
    color: #093; }

.content_wrap {
  background-color: #fff; }

.form_box {
  margin-top: 40px;
  padding-left: 20px; }

.form_list {
  margin-bottom: 20px; }
  .form_list > label {
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    color: #333;
    letter-spacing: 2px; }
  .form_list > input, .form_list .input_radio {
    width: 410px; }
  .form_list > select {
    background: white;
    height: 40px;
    width: 135px; }

.tel_china {
  width: 68px !important; }

.tel_code {
  width: 90px !important; }

.tel_num {
  width: 220px !important; }

.tel_line {
  font-size: 20px;
  color: #ccc; }

.middle_input {
  width: 100px !important;
  margin-right: 10px; }

.label_uploading {
  height: 120px !important;
  line-height: 120px !important;
  float: left;
  margin-right: 2px; }

.img_uploading {
  max-width: 980px;
  height: 120px;
  overflow: hidden;
  display: inline-block; }
  .img_uploading .logo {
    width: 240px; }
  .img_uploading li {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
    position: relative; }
    .img_uploading li img {
      width: 100%;
      height: 100%;
      display: block; }
    .img_uploading li em {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
      color: #fff;
      background-color: #63bf82;
      cursor: pointer; }
    .img_uploading li:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      content: '';
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    .img_uploading li:hover em {
      display: block; }
  .img_uploading .img_plus {
    background-color: #E4E4E4;
    text-align: center;
    cursor: pointer; }
    .img_uploading .img_plus:hover:before {
      width: 0;
      height: 0; }
    .img_uploading .img_plus p {
      padding-top: 32px;
      font-size: 30px;
      color: #093;
      line-height: 30px; }
    .img_uploading .img_plus span {
      display: inline-block;
      font-size: 14px;
      color: #093; }

.textarea_area {
  width: 410px;
  height: 150px;
  resize: none; }

.error_tips {
  color: #ff6633;
  font-size: 14px; }
  .error_tips i {
    font-size: 14px;
    margin: 0 10px; }

.action_btn {
  padding-left: 112px;
  text-align: left;
  line-height: 40px;
  font-size: 14px; }
  .action_btn .main_bg {
    margin-right: 20px; }
  .action_btn > a {
    display: inline-block;
    width: 130px;
    text-align: center; }
  .action_btn .disable {
    background-color: #e4e4e4;
    color: #999;
    cursor: default; }
