@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.page_list {
  padding: 20px 0;
  text-align: center;
  height: 32px;
  line-height: 33px;
  font-size: 14px; }
  .page_list a {
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    background-color: #fff;
    color: #888;
    border: 1px solid #e4e4e4; }
  .page_list span {
    display: inline-block; }
  .page_list input {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .page_list b {
    margin-right: 10px; }

.page_submit {
  margin-left: 10px;
  width: 45px;
  height: 27px;
  text-align: center;
  line-height: 25px;
  background: #fff;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page_list .no_all_b {
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent; }

/*
<!--分页-->
<div class="page_list">
<p>
<a class="prev_page" href="#">上一页</a>
<a class="main_bg main_border" href="#">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a>
<a class="no_all_b" href="#">......</a>
<a href="#">100</a>
<a class="next_page no_marginR" href="#">下一页</a>
</p>
</div>*/
.right_content {
  padding-top: 20px;
  padding-bottom: 30px; }
  .right_content > h3 {
    line-height: 60px;
    font-size: 24px;
    color: #333; }

.right_list {
  position: relative;
  height: 200px;
  *height: 160px;
  padding: 30px 0;
  padding-left: 250px;
  border-top: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.2s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .right_list .news_img {
    position: absolute;
    left: 0;
    top: 30px;
    display: block;
    width: 200px;
    height: 140px; }
    .right_list .news_img img {
      display: block;
      width: 100%;
      height: 100%; }
  .right_list .news_title {
    font-size: 16px;
    line-height: 2.0; }
    .right_list .news_title a {
      color: #333; }
  .right_list .news_content {
    font-size: 14px;
    color: #666;
    min-height: 68px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }

.time_look {
  margin-bottom: 5px;
  font-size: 12px;
  color: #888; }

.read_more {
  font-size: 12px;
  color: #0766bf; }

.noimg_list {
  padding-left: 20px; }
