@charset "UTF-8";
.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.main {
  color: #093 !important; }

.main_light {
  color: #63bf82 !important; }

.main_bg {
  background-color: #093 !important;
  color: #fff !important; }

.main_bg_light {
  background-color: #63bf82 !important;
  color: #fff !important; }

.main_border {
  border-color: #093 !important; }

.main_border_light {
  border-color: #63bf82 !important; }

.main_hover:hover {
  color: #2e93d7 !important; }

.main_hover a:hover {
  color: #2e93d7 !important; }

.mainbg_hover:hover {
  background-color: #093 !important;
  color: #FFFFFF !important; }
  .mainbg_hover:hover a {
    color: #fff !important; }

.mainbg_hover_light:hover {
  background-color: #63bf82 !important;
  color: #FFFFFF !important; }
  .mainbg_hover_light:hover a {
    color: #fff !important; }

.mainbd_hover:hover {
  border-color: #093 !important; }

.main_focus:focus {
  border-color: #093 !important; }

.right_content {
  padding-bottom: 40px; }
  .right_content > h3 {
    font-size: 24px;
    line-height: 43px;
    padding-top: 21px;
    height: 43px;
    color: #333; }

.hot_question {
  margin-top: 20px;
  margin-bottom: 80px; }
  .hot_question .hot_item {
    height: 20px;
    line-height: 20px;
    margin: 7px 0 7px 30px;
    float: left;
    width: 46%;
    font-size: 16px;
    overflow: hidden; }
    .hot_question .hot_item a {
      color: #666;
      display: inline-block;
      width: 390px;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      /* 1 */
      text-overflow: ellipsis;
      text-align: left;
      /* 2 */ }
      .hot_question .hot_item a:before {
        content: '*';
        margin-right: 5px; }

.question_nav {
  margin-top: 20px;
  border: 1px solid #ddd; }
  .question_nav .question_item {
    overflow: hidden; }
    .question_nav .question_item .question_li {
      position: relative;
      float: left;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      width: 25%;
      height: 230px;
      text-align: center;
      background-color: #fff;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .question_nav .question_item .question_li .question_img {
        padding: 30px 0; }
        .question_nav .question_item .question_li .question_img i {
          font-size: 110px;
          color: #ddd; }
      .question_nav .question_item .question_li h4 {
        font-size: 18px;
        color: #666; }
    .question_nav .question_item .question_li:nth-of-type(4) {
      border-right: 0; }
  .question_nav .list_2 .question_li {
    border-bottom: 0; }
  .question_nav .question_li:hover .question_sub_menu {
    left: 0; }
  .question_nav .question_sub_menu {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -200%;
    background-color: #ccc;
    padding-left: 20px;
    padding-top: 19%;
    -moz-transition: left 0.4s ease-in-out;
    /* Firefox 4 */
    -webkit-transition: left 0.4s ease-in-out;
    /* Safari å’Œ Chrome */
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .question_nav .question_sub_menu a {
      font-size: 16px;
      color: #666;
      display: inline-block;
      width: 48%;
      text-align: left;
      padding: 10px 0; }
      .question_nav .question_sub_menu a:hover {
        color: #093; }

.search_li {
  width: 237px;
  height: 230px;
  margin: 0 auto;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  overflow: hidden; }
  .search_li .search_box {
    position: relative;
    width: 200px;
    margin-left: 16px;
    line-height: 40px;
    border: 1px solid #ddd; }
    .search_li .search_box input {
      height: 30px;
      width: 120px;
      line-height: normal;
      display: inline-block;
      padding-left: 15px;
      color: #666;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: '\5fae\8f6f\96c5\9ed1'; }
    .search_li .search_box .search_button {
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      height: 40px;
      line-height: 40px;
      background-color: #ddd;
      text-align: center; }
      .search_li .search_box .search_button i {
        font-size: 22px; }
