.app-zhuchao-buyer-icon
{
  background: url(image-path('App/ZhuChao/Buyer/Icon', 'png')) no-repeat;
}
.app-zhuchao-buyer-widget-entry-icon
{
  background: url(image-path('App/ZhuChao/Buyer/Icon', 'png')) no-repeat;
}
.app-zhuchao-buyer-widget-buyermgr-icon
{
  background: url(image-path('App/ZhuChao/Buyer/Widget/BuyerMgr', 'png')) no-repeat;
}
